<form (ngSubmit)="onSubmit(f)" #f="ngForm">
	<div class="Title">Payment information</div>
	<div *ngFor="let model of models" class="BasicInput">
		<label htmlFor={{model.name}}>{{model.label}}</label>
			<input
        id={{model.name}}
        name={{model.name}}
        type={{model.type}}
        placeholder={{model.placeholder}}
        ngModel
        required
      />
	</div>

	<div class="ExpiryDate">
		<div>
			<label>Expires on</label>
			<div class="Expiry">
				<select name="month" [(ngModel)]="selectedMonth" (ngModelChange)="handleMonthChange($event)">
          <option *ngFor="let month of months">{{month}}</option>
        </select>
				<select name="year" [(ngModel)]="selectedYear" (ngModelChange)="handleYearChange($event)">
          <option *ngFor="let year of years">{{year}}</option>
        </select>
			</div>
		</div>
		<div class="CVCField">
			<label>CVC</label>
			<input placeholder="000" type="number" name="number" max="999" ngModel required />
		</div>
	</div>

	<div class="CheckoutButton">
		<button>Book securely</button>
		<span><i class="fa fa-fw fa-lock"></i> Your credit card information is encrypted</span>
	</div>
</form>
