<div class="User">
	<div class="name">Raincal</div>
	<div class="image"><img src="../assets/photo.png" /></div>
</div>
<!--<div class="UserProfile-menu">
	<div class="UserProfileSwitch">
		<ul>
			<li>
				<div class="UserProfile-image">
					<img src="http://lorempixel.com/96/96" />
				</div>
				<div class="UserProfile-name">
					Alexander
				</div>
			</li>
			<li>
				<div class="UserProfile-image">
					<img src="http://lorempixel.com/96/96" />
				</div>
				<div class="UserProfile-name">
					Mattias
				</div>
			</li>
		</ul>
	</div>
	<div class="UserNavigation">
		<ul>
			<li>Your Account</li>
			<li>Help Center</li>
			<li>Sign out of Netflix</li>
		</ul>
	</div>
</div>-->
