<div class="App">
	<div class="Artwork" [ngStyle]="setStyles()">
    <audio src="{{audioSrc || tracks[0].audioSrc}}">
    </audio>
		<div class="Controls">
			<i class="fa fa-fw fa-fast-backward"></i>
			<i *ngIf="!playing" (click)="handleClick()" id="play" class="fa fa-fw fa-play"></i>
			<i *ngIf="playing" (click)="handleClick()" id="pause" class="fa fa-fw fa-pause"></i>
			<i class="fa fa-fw fa-fast-forward"></i>
		</div>
	</div>

	<ul class="TrackList">
		<li *ngFor="let track of tracks">
			<div class="number">{{track.id}}</div>
			<div class="title">{{track.title}}</div>
			<div class="duration">{{track.duration}}</div>
		</li>
	</ul>
</div>
