<div class="App">
	<div class="Artwork" [ngStyle]="setStyles()">
    <audio src="{{currentMusic.audioSrc}}">
    </audio>
		<div class="Controls">
			<i (click)="prev(currentMusic.id)" class="fa fa-fw fa-fast-backward"></i>
			<i *ngIf="!playing" (click)="play()" id="play" class="fa fa-fw fa-play"></i>
			<i *ngIf="playing" (click)="play()" id="pause" class="fa fa-fw fa-pause"></i>
			<i (click)="next(currentMusic.id)" class="fa fa-fw fa-fast-forward"></i>
		</div>
	</div>

	<ul class="TrackList">
		<li
      *ngFor="let track of tracks"
      [class.selected]="track === currentMusic"
      (click)="onSelect(track)">
			<div class="number">{{track.id}}</div>
			<div class="title">{{track.title}}</div>
			<div class="duration">{{track.duration}}</div>
		</li>
	</ul>
</div>
