@import url('https://fonts.gmirror.org/css?family=Lato:100,300,400,700');
@import url("//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import './assets/reset.css';

// Colors
$charlestongreen: #272D2D;
$dogwoodrose: #fb366e;
$isabelline: #F0EDEE;
$blue: #97ade7;
$munsellgreen: #04A777;

// Styles
body {
	background: $blue;
	color: $isabelline;
	font-family: 'Lato';
}

#app {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.App {
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(black, .3);
	overflow: hidden;
	width: 280px;
	height: 400px;

	.Artwork {
		width: 280px;
		height: 280px;
		background-size: cover;
		position: relative;

		&:hover {
			.Controls {
				background: rgba($blue, .5);
			}
		}

		.Controls {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: flex;
			height: 280px;
			box-sizing: border-box;
			background: rgba($blue, .3);
			justify-content: space-around;
			padding: 20px 0;
			align-items: center;
			transition: background .125s ease;

			.fa-play,
			.fa-pause {
				transform: scale(2);
			}
		}
	}

	.TrackList {
		width: 280px;
		height: 120px;
    background: white;
    color: #5d4776;
		overflow-y: auto;

		li {
			display: flex;
			padding: 10px;
			box-sizing: border-box;
			border-bottom: 1px solid rgba(white, .1);
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 300;

			&.selected, &:hover {
				background: lighten($blue, 20%);
				cursor: pointer;
				color: $dogwoodrose;

				.duration {
					opacity: 1;
          color: $dogwoodrose;
				}
			}

			.title {
				margin-left: 10px;
				font-weight: 500;
				letter-spacing: .12em;
			}

			.duration {
				margin-left: auto;
				opacity: .5;
        color: lighten(#5d4776, 10%);
			}
		}


	}
}
