<div class="App">
	<div class="Conversation">
		<header>
			<div class="name">Raincal</div>
		</header>
		<div class="container">
			<div class="Messages">
				<div
          *ngFor="let message of messages"
          class="Message"
          [ngClass]="setClass(message)">
					<span>{{ message.message }}</span>
				</div>
			</div>
		</div>
	</div>

  <form (ngSubmit)="onSubmit()" class="Input">
    <input class="messageInput" [(ngModel)]="myMessage" name="message" type="text" placeholder="Enter your message..." />
    <button>
      <i class="fa fa-send"></i>
    </button>
  </form>
</div>
