@import "https://fonts.gmirror.org/css?family=Lato:100,300,400,700,900";
@import "//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "./reset.css";

body {
  background: #221f1f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

h2, .TitleList .Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}
