<div class="Title">
	<h1>{{titleList.title}}</h1>
	<div class="titles-wrapper">

		<div *ngFor="let item of items" class="Item" [ngStyle]="setStyles(item.backdrop_path)">
			<div class="overlay">
				<div class="title">{{item.name || item.original_title}}</div>
				<div class="rating">{{item.vote_average}} / 10</div>
				<div class="plot">{{item.overview}}</div>
				<div (click)="onClick()" attr.data-toggled="{{toggled}}" class="ListToggle">
					<div>
						<i class="fa fa-fw fa-plus"></i>
						<i class="fa fa-fw fa-check"></i>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
