.TitleList {
  padding: 20px 40px;
  box-sizing: border-box;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  opacity: 0;
}

.TitleList[data-loaded='true'] {
  opacity: 1;
}

.List:nth-of-type(1) {
  margin-top: -10vw;
  position: relative;
  z-index: 4;
}
